<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148625856225-ve71k5ra1r2jo8pl1e50t6e585cr0kg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148625856225-ve71k5ra1r2jo8pl1e50t6e585cr0kg2</string>
	<key>API_KEY</key>
	<string>AIzaSyDmmjuP4wq3B0uYx7eMiQJmsgKVkLS-5sg</string>
	<key>GCM_SENDER_ID</key>
	<string>148625856225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.celebrates.app</string>
	<key>PROJECT_ID</key>
	<string>celebrates-487e1</string>
	<key>STORAGE_BUCKET</key>
	<string>celebrates-487e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148625856225:ios:e855dfeb3e0800aaca09a0</string>
</dict>
</plist>